:root {
	font-size: 18px;
	line-height: 1.7;
	font-family: 'Noto Sans JP', sans-serif;
	color: #020F1F;
}

h1 {
	font-size: 2rem;
	color: #F9F8F7;
	text-align: center;
	line-height: 13rem;
	margin: 0;
}

h2 {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	border-bottom: 0.1rem solid #020F1F;
}

p {
	font-size: 1rem;
	padding: 0;
	margin-bottom: 3rem;
}

#container {
	display: grid;
	width: auto;
	background-color: #F9F8F7;
	min-width: 600px;
	grid-template-columns: 1fr;
	grid-template-rows: 3rem 13rem auto auto 3rem;
}

nav {
	background-color: #020F1F;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	overflow: hidden;
}

nav div {
	width: 25%;
	height: 3rem;
	float: left;
	text-align: center;
}

.logo a {
	font-family: 'Megrim', cursive;
	line-height: 3rem;
	font-size: 1.2rem;
	color: #F9F8F7;
	text-decoration: none;
}

.menu a,
.chosen a {
	display: block;
	font-size: 0.8rem;
	line-height: 3rem;
	color: #F9F8F7;
	text-decoration: none;
}

.menu:hover,
.chosen:hover {
	background-color: #737285;
}

.chosen {
	border-bottom: 0.15rem solid #F9F8F7;
}

#headline {
	background-image: url(./graph.jpg);
	background-position: bottom center;
	background-size: 700px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

section {
	margin: 3rem 7%;
	background-color: #F9F8F7;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

#img {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}

img {
	width: 50%;
	height: auto;
	float: left;
}

dt a {
	font-size: 1.2rem;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background-color: #f2f1f0;
	border-left: solid 6px #717184;
	color: #020F1F;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

dt a:hover {
	color: #fff;
}

dt a:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}

dd {
	margin-bottom: 1em;
}

#copyright {
	display: block;
	line-height: 3rem;
	float: left;
	margin: 0;
	font-size: 0.7rem;
}

footer {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
	margin: 0 7%;
}

footer .logo {
	float: right;
	margin-bottom: 0;
}

footer .logo a {
	color: #020F1F;
}